# A账号 OSS配置
A_OSS_ENDPOINT=https://oss-cn-hongkong.aliyuncs.com
A_OSS_ACCESS_KEY=your_a_access_key
A_OSS_SECRET_KEY=your_a_secret_key
A_OSS_BUCKET=your_a_bucket

# B账号 OSS配置
B_OSS_ENDPOINT=https://oss-cn-hongkong.aliyuncs.com
B_OSS_ACCESS_KEY=your_b_access_key
B_OSS_SECRET_KEY=your_b_secret_key
B_OSS_BUCKET=your_b_bucket
